@import '../styles/fonts/index.scss';
@import '../styles/components/dialog.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: thin;
  background: white;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

&::-webkit-scrollbar {
  width: 10px;
}
/* Track */
&::-webkit-scrollbar-track {
  background: #eee;
}
/* Handle */
&::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}
/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

a:hover {
  text-decoration: underline;
}